<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="showHome">Home</a>
                    </li>
                    <li role="presentation"><a href="showSettings">Settings</a>
                    </li>
                    <li role="presentation"><a href="showControls">Controls</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SoundDrive</h3>
        </div>
 
        <div class="jumbotron">
            <h1>SoundDrive</h1>
            <p class="lead"></p>
        </div>
 
        <div class="row marketing">
	        <h4>Welcome to SoundDrive!</h4><br>
			<p>
				Here you can configure your device and control your music.
			</p>
        </div>
 
        <footer class="footer">
            <p>&copy; Created by ofekp</p>
        </footer>
 
    </div>
</body>
 
</html>
